# Custom $PATH with extra locations.
export PATH={{ ohmyzsh_venv_path }}/bin:/usr/local/bin:/usr/local/sbin:$HOME/bin:$PATH

# Export oh-my-zsh installation path.
export ZSH="$HOME/.oh-my-zsh"

# Colors.
unset LSCOLORS
export CLICOLOR=1
export CLICOLOR_FORCE=1

# Don't require escaping globbing characters in zsh.
unsetopt nomatch

# SSH-agent configuration.
zstyle :omz:plugins:ssh-agent quiet yes
zstyle :omz:plugins:ssh-agent agent-forwarding yes

{% set plugins_path = '$HOME/.oh-my-zsh/custom/plugins' %}
# Completions.
{% if 'zsh-autocomplete' in ohmyzsh_plugins %}
fpath=({{ plugins_path }}/zsh-autocomplete/Completions $fpath)
{% endif %}
autoload -Uz compinit && compinit
# Case insensitive.
zstyle ':completion:*' matcher-list 'm:{[:lower:][:upper:]}={[:upper:][:lower:]}' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*'

# Enable zsh auto-update.
zstyle ':omz:update' mode auto
zstyle ':omz:update' frequency 3

# Enable plugins.
plugins=({{ ohmyzsh_plugins | join(' ') }})

# The prompt comes from starship, not an Oh My Zsh theme.
ZSH_THEME=""

# Source oh-my-zsh.
source $ZSH/oh-my-zsh.sh

# Starship prompt.
command -v starship >/dev/null 2>&1 && eval "$(starship init zsh)"

# Enable extra plugins.
source {{ plugins_path }}/zsh-autosuggestions/zsh-autosuggestions.zsh
source {{ plugins_path }}/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source {{ plugins_path }}/zsh-history-substring-search/zsh-history-substring-search.zsh

# Allow history search via up/down keys.
bindkey "^[[A" history-substring-search-up
bindkey "^[[B" history-substring-search-down

# Include alias file (if present) containing aliases for ssh, etc.
if [ -f ~/.aliases ]
then
  source ~/.aliases
fi

# Source fzf.
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Function for deleting a given line number in the known_hosts file.
knownrm() {
 re='^[0-9]+$'
 if ! [[ $1 =~ $re ]] ; then
   echo "error: line number missing" >&2;
 else
   sed -i '' "$1d" ~/.ssh/known_hosts
 fi
}

# Unmanaged local additions, sourced last.
for zshrc_file in ~/.zshrc.d/*.zsh(N); do
  source "$zshrc_file"
done
unset zshrc_file
